:root {
  --site-black: rgb(14, 14, 14);
  --site-white: rgb(240, 240, 240);
  --site-grey: rgb(112, 112, 112);
  --site-dark-grey: rgb(50, 50, 50);
  --primary-color: rgb(64, 65, 9);
  --button-size: 4.7em;
  --gap-size: 0.8em;
}

html, body {
  height: 100%
}

body {
  background-color: var(--primary-color);
}

body, .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  justify-content: space-between;
  background-color: var(--site-grey);
  height: 300px;
  width: 650px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#display-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-family: inherit;
}

#display {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  height: 50px;
  width: 180px;
  margin-left: 85px;
  background-color: var(--primary-color);
  color: var(--site-white);
}

.clickable {
  font-family: inherit;
  font-size: 1.5em;
  margin-left: 85px;
  margin-top: 50px;
  padding: 10px;
  text-decoration: none;
  background-color: var(--site-dark-grey);
  color: var(--site-white);
  transition: all 0.1s;
  cursor: pointer;
  border: 2px solid var(--site-black);
  outline: none;
}

.clickable:hover {
  filter: brightness(130%);
}

.drum-pad-wrapper {
  display: grid;
  margin-right: 30px;
  grid-template-columns: repeat(3, var(--button-size));
  gap: var(--gap-size);
  grid-auto-rows: var(--button-size);
  height: 3 * var(--button-size) + 2 * var(--gap-size);
  width: 3 * var(--button-size) + 2 * var(--gap-size);
}

.drum-pad {
  background-color: var(--site-dark-grey);
  color: var(--site-white);
  border: 2px solid var(--site-black);
  font-size: 1.5em;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.active {
  filter: brightness(130%);
}
